body {
    background-color: rgb(62, 62, 62);
    height: 100%;
    width: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    color: antiquewhite;
}

.header{
    max-height: 3rem;
    text-align: center;
    z-index: 1;
}

.title{
    font-size: 1em;
    line-height: 3rem;
    height: 100%;
    color: rgb(23, 218, 82);
    font-weight: bold;
}

.header .title{
    font-size: 1.5em;
}

.sector{
    margin: 1em 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
@media only screen and (max-width: 900px) {
    .flex-container{
    flex-direction: column;
    }
    .flex-container .element{
        padding: 3px;
        width: 100%;
        height: 100%;
}}
select {
    min-height: 30px;
}

.flex-container .element{
    padding: 5px;
}
.flex-container .nahida{
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px;
}
.flex-container .etc{
    display: block;
}
.flex-container .hiddenElement{
    flex:1;
}
.description{
    display:grid;
    grid-template-columns: 1fr .5fr;
    min-height: 30px;
    justify-content: center;
}

.result{
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 5.67px;
    scale: 200%;
}
.buttons{
    width:60pt;
    height:40pt;
    font-size:xx-large;
}
.buttons2{
    width: 60pt;
    height:40pt;
    font-size:medium;
}
.buttons3{
    width: 80pt;
    height:40pt;
    font-size:medium;
}
.values{
    color:rgb(165, 69, 69);
}